#left-input,
#right-input {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 10px 0;
}

#operation {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 10px 10px 10px 0;
}

#submit_button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: lightblue;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 10px;
}
